<div class="container-fluid current-matches">
  <div class="row header">
    <div class="logo visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
        Live Scoring
        <br>
        <span class="powered-by">Powered by Contact Point Media</span>
    </div>
    <div class="title-sponsor visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
      <%= image_tag("mezz_cues.png", class: "mezz") %>
      <%= image_tag("west_state_billiards_supply.png", class: "west-state-billiard-supply") %>
    </div>
  </div>

  <% if @in_progress_matches.present? %>
      <div class="row matches">
        <p><strong>All matches are race to 9 (finals race to 11).</strong>  This page will refresh automatically every 30 seconds.</p>
        <% @in_progress_matches.each do |match| %>
            <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block match">
              <table>
                <tr>
                  <td colspan="2" class="table-number">Table <%= match.table_number %></td>
                </tr>
                <tr>
                  <td class="player-name"><%= match.match_players.order(:id).first.player.full_name %></td>
                  <td class="player-score"><%= match.match_players.order(:id).first.score %></td>
                </tr>
                <tr>
                  <td class="player-name"><%= match.match_players.order(:id).last.player.full_name %></td>
                  <td class="player-score"><%= match.match_players.order(:id).last.score %></td>
                </tr>
              </table>
            </div>
        <% end %>
      </div>
  <% else %>
      <div class="row no-matches">There are currently no matches in progress</div>
  <% end %>

  <div class="row sponsors">
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("aramith.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("andy_cloth.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("tony_rodriguez_remax.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("zan_tips.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("on_the_wire.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("csi.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("james_hanshew.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("turtle_rack.png") %>
    </div>
    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block sponsor">
      <%= image_tag("fast_and_loose_designs.png") %>
    </div>
  </div>
</div>

<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script>
