<div class="container-fluid current-matches">
  <div class="row header">
    <div class="title">
        <%= image_tag("mezz_west_logo_32.png", class: 'logo') %>
        Live Scoring
    </div>
    <div class="title-sponsors">
      <%= image_tag("west_state_billiards_supply.png", class: "west-state-billiard-supply pull-right") %>
      <%= image_tag("mezz_cues.png", class: "mezz pull-right") %>
    </div>
  </div>

  <% if @in_progress_matches.present? %>
      <div class="row matches">
        <p><strong>All matches are race to 9 (finals race to 11).</strong>  This page will refresh automatically every 30 seconds.</p>
        <% @in_progress_matches.each do |match| %>
            <div class="match">
              <table>
                <tr>
                  <td colspan="2" class="table-number">Table <%= match.table_number %></td>
                </tr>
                <tr>
                  <td class="player-name"><%= match.match_players.order(:id).first.player.full_name %></td>
                  <td class="player-score"><%= match.match_players.order(:id).first.score %></td>
                </tr>
                <tr>
                  <td class="player-name"><%= match.match_players.order(:id).last.player.full_name %></td>
                  <td class="player-score"><%= match.match_players.order(:id).last.score %></td>
                </tr>
              </table>
            </div>
        <% end %>
      </div>
  <% else %>
      <div class="row no-matches">There are currently no matches in progress</div>
  <% end %>

  <div>
      <%= image_tag("sponsors_64.png", :class => "sponsors") %>
  </div>
</div>

<!-- <script>
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script> -->
