<%
   players = []
   Player.all.find_each do |player|
     players.append([player.full_name, player.id])
   end
%>

<h1>Create Match</h1>
<%= form_tag("/admin/match/create", method: :post) do %>
  <p>
    <%= label_tag("Table number: ") %>
    <%= text_field_tag("table_number", "") %>
  </p>

  <p>
    <%= label_tag("Player 1: ") %>
    <%= select_tag :player_1, options_for_select(["Select one"] + players) %>
  </p>

  <p>
    <%= label_tag("Player 2: ") %>
    <%= select_tag :player_2, options_for_select(["Select one"] + players) %>
  </p>

  <p>
    <%= submit_tag("Create") %>
  </p>
<% end %>